@media only screen and (max-width: 600px) {

    .triangle {
        padding: 2em 1em;
        &__edge {
            flex-direction: column;
            & label {
                text-align: center;
            }
        }   
    
        &__final {
            flex-direction: column;
        }
    }
}