@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
.gform_validation_container {
  display: none;
}

.triangle {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.29);
  padding: 2em 15%;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
}

.triangle h3, .triangle input, .triangle label, .triangle div {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

.triangle__edge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1em;
}

.triangle__edge label {
  padding-right: 1em;
  text-align: left;
  font-weight: 300;
  width: 100%;
}

.triangle__edge .ginput_container input {
  width: 100%;
  background: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid grey;
}

.triangle__edge .ginput_container input:focus {
  outline: none;
  border: 1px solid black;
}

.triangle__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin: 1em auto;
}

.triangle__final .ginput_container input {
  background: white;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  outline: none;
  padding: 0;
  border: none;
  cursor: default;
}

.triangle__final .ginput_container input:focus {
  outline: none;
}

.triangle__final label {
  width: 100%;
  font-weight: 500;
}

.triangle .gform_title {
  margin: 0.5em 0 2em;
  font-size: 1.8rem;
  text-align: center;
}

.triangle .gform_button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.triangle .gform_button:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.triangle .gform_fields {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.triangle .gform_footer {
  text-align: center;
  margin: 0 auto;
}

.triangle .gform_confirmation_message {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .triangle {
    padding: 2em 1em;
  }
  .triangle__edge {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .triangle__edge label {
    text-align: center;
  }
  .triangle__final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .triangle__final label {
    text-align: center;
  }
}
/*# sourceMappingURL=formstyle.css.map */